:root {
    --blue-color: #478ac9;
    --grey-color: #e5e5e5;
    --icon-color: #e9f2fa;
}

div,
::after,
::before {
    box-sizing: content-box;
}

body {
    font-family: 'Cairo', sans-serif;
    background-color: var(--grey-color);
}

/*Start Navbar*/
.navbar {
    color: var(--blue-color);
    font-size: larger;
    z-index: 1;
}

.navbar .container {
    display: flex;
    justify-content: flex-end;
}

.button-style {
    color: white;
    background-color: var(--blue-color);
    width: 151px;
    height: 45px;
    border-radius: 50px;
    border: none;
    transform: translateX(0px) translateY(0px) scale(1);
    transition-duration: 0.5s;
}

.button-style:hover {
    transform: translateX(0px) translateY(-5px) scale(1);
    box-shadow: 0px 0px 8px 0px rgba(128, 128, 128, 1);
    text-shadow: 0px 0px 0px rgb(0, 0, 0, 0);
    background-color: black;
    color: white;
}

.navbar ul {
    margin-right: 190px;
    font-size: large;
}

.navbar ul li span {
    border-right: 1px solid var(--blue-color);
    padding-right: 10px;
    width: auto;
    display: inline-block;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
    color: var(--blue-color);
}

.navbar .navbar-toggler:active,
.navbar .navbar-toggler:focus,
.navbar .navbar-toggler:hover {
    transform: translateX(0px) translateY(0px) scale(1);
    border: 1px solid var(--blue-color);
    background-color: white;
}

/*End Navbar*/

/*Start Landing*/
.landing {
    direction: rtl;
}

.landing .container {
    width: 1000px;
}

.landing .container .form-select:focus,
.landing .container .form-select:active,
.landing .container .form-control:focus,
.landing .container .form-control:active {
    box-shadow: none;
}

.landing .container .form-select:hover {
    transform: translateX(0px) translateY(-3px) scale(1);
    transition-duration: 0.5s;
    background-color: var(--icon-color);
    cursor: pointer;
}

.landing .container .form-label {
    font-weight: bold;
    font-style: italic;
    padding: 0px 5px;
}

.landing .container .icon-left {
    display: flex;
    flex-direction: row-reverse;
    direction: rtl;
    text-align: right;
    cursor: pointer;
}

.landing .floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #D1FAE5;
    color: #065F46;
    width: 100px;
    border-radius: 5%;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.landing .floating-button:hover {
    background-color: green;
    color: white;
}

@keyframes example {
    0% {
        transform: translateX(20px);
    }

    25% {
        transform: translateX(-20px);
    }

    50% {
        transform: translateX(20px);
    }

    75% {
        transform: translateX(-20px);
    }

    100% {
        transform: translateX(20px);
    }
}

/*End Landing*/

/*Start Responsive*/
@media (max-width: 400px) {
    form {
        width: 340px;
        margin-right: 5px;
        margin-left: 5px;
    }

    .save-responsive {
        display: flex;
        flex-direction: column;
    }

    .floating-button {
        left: 20px;
    }
}

@media (min-width: 400px) and (max-width:600px) {
    form {
        width: 38%;
        margin-right: 5px;
        margin-left: 5px;
    }

    .save-responsive {
        display: flex;
        flex-direction: column;
    }

    .floating-button {
        left: 20px;
    }
}

/*End Responsive*/