:root {
    --blue-color: #478ac9;
    --grey-color: #e5e5e5;
    --icon-color: #e9f2fa;
}

div,
::after,
::before {
    box-sizing: content-box;
}

body {
    font-family: "Cairo", sans-serif;
    background-color: var(--grey-color);
}

/*Start Navbar*/
.navbar {
    color: var(--blue-color);
    font-size: larger;
    z-index: 1;
}

.navbar .container {
    display: flex;
    justify-content: flex-end;
}

nav button {
    color: white;
    background-color: var(--blue-color);
    width: 151px;
    height: 45px;
    border-radius: 50px;
    border: none;
    transform: translateX(0px) translateY(0px) scale(1);
    transition-duration: 0.5s;
}

nav button:hover {
    transform: translateX(0px) translateY(-5px) scale(1);
    box-shadow: 0px 0px 8px 0px rgba(128, 128, 128, 1);
    text-shadow: 0px 0px 0px rgb(0, 0, 0, 0);
    background-color: black;
    color: white;
}

.navbar ul {
    margin-right: 190px;
    font-size: large;
}

.navbar ul li span {
    border-right: 1px solid var(--blue-color);
    padding-right: 10px;
    width: auto;
    display: inline-block;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
    color: var(--blue-color);
}

.navbar .navbar-toggler:active,
.navbar .navbar-toggler:focus,
.navbar .navbar-toggler:hover {
    transform: translateX(0px) translateY(0px) scale(1);
    border: 1px solid var(--blue-color);
    background-color: white;
}

/*End Navbar*/

/*Start Landing*/
.landing .container .icon-radius {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    height: 100px;
    width: 100px;
    background-color: var(--icon-color);
    border-radius: 50px;
    margin-top: 2%;
}

.landing a {
    text-decoration: none;
}

.landing .button-style {
    width: 100%;
    border: none;
    background-color: white;
    transform: translateX(0) translateY(0px) scale(1);
    transition-duration: 0.5s;
}

.landing .button-style:hover {
    transform: translateX(0) translateY(-5px) scale(1);
    transition-duration: 0.5s;
}

.upload-container {
    width: 300px;
    padding: 20px;
    border: 2px dashed #ccc;
    text-align: center;
    margin: 0 auto;
}

.upload-container:hover {
    background-color: #f8f8f8;
}

.upload-container input[type="file"] {
    display: none;
}

.upload-container label {
    cursor: pointer;
}

.border-responsive {
    border-right: 1px solid var(--grey-color);
}

/*End Landing*/

/*End Landing*/

/*Start Responsive*/
@media (max-width: 400px) {
    .row-responsive {
        width: 330px;
        margin-left: 5px;
        padding: 3px;
        position: relative;
        right: 3%;

    }

    .border-responsive {
        border-right: none;
    }

    .container {
        width: 94%;
    }

    .landing .button-style {
        position: relative;
        right: 40%;
        width: 250px;
        border: none;
        background-color: white;
        transform: translateX(0) translateY(0px) scale(1);
        transition-duration: 0.5s;
    }
}

@media (min-width: 400px) and (max-width:991px) {
    .row-responsive {
        width: 360px;
        margin-left: 5px;
        margin-right: 5px;
        padding: 3px;
        position: relative;
        right: 2%;
    }

    .border-responsive {
        border-right: none;
    }

    .container {
        width: 94%;
    }

    .landing .button-style {
        position: relative;
        right: 40%;
        width: 250px;
        border: none;
        background-color: white;
        transform: translateX(0) translateY(0px) scale(1);
        transition-duration: 0.5s;
    }
}

/*End Responsive*/